<div class="container" (mouseover)="expandirMenu()" (mouseout)="retrairMenu()">

  <div class="perfil-container">
    <img src="../../../assets/icons/icon-cat-dog1.png" alt="Logo perfil">
  </div>

  <div class="links">

    <div class="content-link" (click)="setRota('/graficos')" [class]=" rotaAtiva == 'graficos' ? 'ativa' : '' ">
      <img src="../../../assets/icons/icon-dashboard 1.svg" alt="gráficos" style="height: 40px; width: 40px;">
    </div>

    <div class="content-link" (click)="setRota('/lista-doenca')" [class]=" rotaAtiva == 'lista-doenca' ? 'ativa' : '' ">
      <img src="../../../assets/icons/965184-200 1.svg" alt="animais" style="height: 25px; width: 25px;">
    </div>

    <div class="content-link" (click)="setRota('/cadastro-adotante')" [class]=" rotaAtiva == 'cadastro-adotante' ? 'ativa' : '' ">
      <img src="../../../assets/icons/icon-person 1.svg" alt="pessoas" style="height: 30px; width: 30px;">
    </div>

    <div class="content-link" (click)="setRota('/graficos')" [class]=" rotaAtiva == 'graficos' ? '' : '' ">
      <img src="../../../assets/icons/icon-persons 1.svg" alt="funcionarios" style="height: 25px; width: 25px;">
    </div>

    <div class="content-link" (click)="setRota('/graficos')" [class]=" rotaAtiva == 'graficos' ? '' : '' ">
      <img src="../../../assets/icons/icon-partnes 1.svg" alt="adocoes" style="height: 55px; width: 55px;">
    </div>

    <div class="content-link" (click)="setRota('/cadastros-auxiliares')" [class]=" rotaAtiva == 'graficos' ? '' : '' ">
      <img src="../../../assets/icons/manufacturing.svg" alt="configuracoes" style="height: 25px; width: 25px;">
    </div>

  </div>

  <div class="saida">
    <img src="../../../assets/icons/icon-exit 1.svg" alt="Saír" style="height: 25px; width: 25px;">
  </div>

  <div class="extensao-menu" [class]="menuAberto ? 'menu-aberto' : 'menu-fechado' ">

    <div class="perfil-container">
      <img src="../../../assets/TextLogo.png" style="width: 70%; height: 30px; filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.3));">
    </div>

    <div class="links">

      <div class="content-link" (click)="setRota('/graficos')">
        <h4>DashBoard</h4>
      </div>

      <div class="content-link" (click)="setRota('/lista-doenca')">
        <h4>Animais Cadastrados</h4>
      </div>

      <div class="content-link" (click)="setRota('/cadastro-adotante')">
        <h4>Adotantes</h4>
      </div>

      <div class="content-link" (click)="setRota('/graficos')">
        <h4>Voluntarios</h4>
      </div>

      <div class="content-link" (click)="setRota('/graficos')">
        <h4>Parceiros</h4>
      </div>

      <div class="content-link" (click)="setRota('/cadastros-auxiliares')">
        <h4>Administrativo</h4>
      </div>

    </div>

    <div class="saida">
    </div>

  </div>

</div>
