@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');

* {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60px;
  position: relative;
  background-color: var(--cor-primaria);
}

.perfil-container {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }
}

.links {
  height: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
  overflow-y: auto;

  .content-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    height: 65px;
    cursor: pointer;
  }

  .content-link:hover {
    background-color: #5997fa;
  }

  .ativa {
    background-color: #5997fa;
  }
}

.saida {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extensao-menu {
  position: absolute;
  z-index: 1000;
  right: 0;
  transform: translateX(calc(100% - 1px));
  width: 0px;
  color: #000000;
  background-color: #5997fa;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: .3s;

  .perfil-container {

    img {
      width: 100%;
    }

    h1 {
      text-align: center;
      font-family: "Kalnia Glaze", serif;
      font-weight: bold;
      font-size: 1.5em;
      font-style: normal;
    }

  }

  .links {
    border-bottom: none;
    overflow-x: hidden;
    cursor: pointer;
    
    .content-link:hover {
      background-color: #6fa2f5;
      transition: .3s;
    }

    h4 {
      text-align: center;
      color: white;
      white-space: nowrap;
      font-size: 14px;
      letter-spacing: 1px;

    }

  }

  * {
    opacity: 0;
  }
}

.extensao-menu.menu-aberto {
  width: 200px;
  transition: .3s;

  * {
    opacity: 1;
    transition: 1s;
  }

  .links > .content-link {
    transition: .2s;
  }

}

.menu-fechado {
  
  * {
    opacity: 0;
    transition: 300ms;
  }
}