::ng-deep {

  .container-cliente {
    height: 100%;

    .span-filtro {
      font-size: 28px;
      color: rgb(71, 71, 71);
      font-weight: bold;
    }

    .container-filtro {
      height: 55px;
      width: 100%;
      padding: 0 15px;
      background-color: white;
      box-shadow: 0px 0px 20px rgba(156, 212, 255, .3);

      .p-multiselect-header {
        display: none;
      }

    }

    .container-tabela {
      width: 100%;
      background-color: white;
      box-shadow: 0px 0px 20px rgba(156, 212, 255, .3);
      height: 90%;
      overflow: auto;

      p-table {
        overflow: auto;

        .pi-star-fill {
          color: yellow !important;
          -webkit-text-stroke: 1px #333;
        }
      }

      .status {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        width: 70px;
        border-radius: 10px;
      }
    }

  }
}