@import "primeicons/primeicons.css";

* {
    font-family: "Roboto", sans-serif;
}

body,
ol,
p,
ul {
    line-height: 1;
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

.obrigatorio {
    color: red;
}

input:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

//Alterações de componentes do primeng
input,
button {
    height: 32.5px;
    border-radius: 3px;
}

.p-button.p-button-text:not(:disabled):hover,
.p-button.p-button-outlined:not(:disabled):hover {
    background: rgb(59, 130, 246);
    color: white;
}

.pi.pi-search {
    padding-top: 2px;
    font-size: 14px;
}

div.p-element.p-multiselect-label-container>div, .p-dropdown, .p-autocomplete {
    display: flex;
    height: 32.5px;
    align-items: center;
}

form {
    input, .p-dropdown {
        width: 100%;
    }
}

tr {
    p-tableheadercheckbox {
        div.p-checkbox-box {
            height: 17.5px;
            width: 17.5px;
        }
    }

    p-tablecheckbox {
        div.p-checkbox-box {
            height: 17.5px;
            width: 17.5px;
        }
    }

    td,
    th {
        height: 39.5 !important;
        padding: 8px 14px;
        font-size: 13px;
        border: none;
    }


    .pi-pencil:before {
        content: "\e942";
        font-size: 13px;
        position: absolute;
        top: 6px;
        left: 6px;
    }

    .pi-trash:before {
        content: "\e93D";
        font-size: 13px;
        position: absolute;
        top: 6px;
        left: 6px;
    }

}

.p-button-rounded {
    border-radius: 50%;
    height: 26px;
    width: 26px;
    font-size: 12px;
}

.p-button.p-button-danger.p-button-text:not(:disabled):hover {
    background: red;
}
.p-button.p-button-secondary {
    color: #475569;
    background-color: #f1f5f9;
    border: none;
}
.p-button.p-button-secondary:hover {
    background-color: #e2e8f0;
    color: #334155;
}

:root {
    --cor-primaria: #3b82f6;
}