@import "primeicons/primeicons.css";

* {
    font-family: "Roboto", sans-serif;
}

body,
ol,
p,
ul {
    line-height: 1;
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

.obrigatorio {
    color: red;
}

input:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

::ng-deep.swal2-container {
    z-index: 1000000;
}